.all {
  font-family: "Noto Sans KR", sans-serif;
  color: #727272;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  height: 70px;
  width: 100%;
  background: black;
  /* border: 1px solid red; */
  font-size: 45px;
  color: whitesmoke;
  display: block;
}

.Logo {
  position: fixed;
  top: 25px;
  left: 50px;
  text-align: center;
  /* border: 1px solid red; */
}

.grid {
  width: 1130px;
  margin: 0 auto;
  letter-spacing: -0.2px;
}

.grid > div {
  text-align: center;
  font-size: 30px;
}

.section {
  padding-top: 95px;
  margin: 5px;
  height: 700px;
  /* border: 10px solid red; */
}

.scroll__container {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 1;
}
.top {
  font-weight: bold;
  font-size: 15px;
  padding: 15px 10px;
  background-color: #000;
  color: #fff;
  border: 1px solid black;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.top:hover {
  transform: scale(1.2);
  transition: all ease 0.2s 0s;
}

.Login {
  position: fixed;
  top: 20px;
  right: 50px;
  border: 1px solid red;
  background-color: rgba(0, 0, 0, 0);
  width: 60px;
  height: 60px;
  z-index: 99;
  color: whitesmoke;
}

.form {
  background-color: #f0f0f0;
  /* border-radius: 20px; */
  box-sizing: border-box;
  height: 400px;
  padding: 40px;
  margin: auto;
  width: 400px;
  box-shadow: 0px 8px 33px #999;
}

.headprofile {
  position: fixed;
  /* border: 1px solid red; */
  top: 15px;
  right: 50px;
  text-decoration-line: none;
}

.profile {
  position: fixed;
  top: 0px;
  right: 50px;
  display: inline-block;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.button {
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  width: 60px;
  height: 60px;
  z-index: 99;
  transition: 0.8s ease;
  background-color: rgba(0, 0, 0, 0);
  /* border: 1px solid red; */
  border-radius: 50px;
  overflow: hidden;
}

.header {
  background-color: red;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.profileimg {
  margin: auto;
  width: 100px;
  border: solid white 4px;
  border-radius: 50%;
  margin-top: 75px;
}

.boldtext {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  padding: 10px 20px 0px 20px;
}

.normaltext {
  font-weight: normal;
  font-size: 0.95rem;
  color: hsl(0, 0%, 50%);
  text-align: center;
  padding-bottom: 10px;
}

/* SOCIAL STATS */
.smallertext {
  font-weight: normal;
  font-size: 0.7rem;
  color: hsl(0, 0%, 50%);
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 20px;
  line-height: 5px;
}

.socialcontainer {
  display: flex;
  border-top: solid rgb(206, 206, 206) 1px;
  text-align: center;
}

.followers {
  flex: 1;
}

.likes {
  flex: 1;
}

.photos {
  flex: 1;
}
